header
{
	background-color: #1267be;
	height: 75px;
}
h3
{
	border: 1px solid #cdcdcd;
	width: 70px;
	text-align: center;
	padding: 5px 5px 5px 5px;
	border-radius : 2px;
	color: white;
	background-color: #cdcdcd;
}