header
{
	background-color: #1267be;
	height: 50px;
}
#search
{
	margin-left: 1110px;
	padding-top:11px;
}
.navig
{
	text-decoration: none;
	color: black;
	font-size: 16px;
	padding-right:10px;
}
#name 
{
	color: grey;
	font-size: 20px;
}
.username
{
	text-decoration: none;
	color: black;
}
ul
{
	border: 1px solid grey;
}
li
{
	border-bottom:1px solid #ececec;
	padding-bottom: 10px;
	padding-top:10px;
}